@model CM
@{
    ViewBag.Title = "Affiliate";
}
@section title{
Centro- Affiliate
}
<div class="contentCntr">
    <div class="contentcenter clearfix">
        <div class="blogPage clearfix">
            @Html.Raw(Model.PageContent)
        </div>
    </div>
</div>
