@model CM
@{
    ViewBag.Title = "CancelReturns";
}
<div class="contentCntr">
    <div class="contentcenter clearfix">
        <div class="returnsPage clearfix">
            @Html.Raw(Model.PageContent)
        </div>
    </div>
</div>
