@model User
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section title{
Centro- Forgot your password?
}
@section scripts{
<script src="@Url.Content("~/Scripts/Custom/forgotpassword.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Scripts/Custom/signUp.js")" type="text/javascript"></script>
}
<div class="form-container">
    <div class="form-container-inner clear">
        <div class="heading">
            <h1 class="summary">
                Forgot your password?</h1>
        </div>
        <div class="pane" id="signin">
            @using (Ajax.BeginForm("ForgotPassword", "Home", new AjaxOptions { HttpMethod = "Post", OnBegin = "OnBegin", OnComplete = "ForgotPassword.OnForgotComplete" }, new { @name = "forgotpassword" }))
            {
                <div class="wrap clear f-passN" style="height:230px;">
                    <div class="input-group">
                        <label style="width: 100%; text-align: left; margin-bottom: 5px;">
                            Enter your email address and we'll send you a link to reset your password.</label>
                    </div>
                    <div class="input-group">
                     <div class="input_text">
                         <div class="input-type">
                        @Html.TextBoxFor(u => u.PasswordRecoveryEmailId, new { @class = "text" })@Html.ValidationMessageFor(u => u.PasswordRecoveryEmailId)
                             </div>
                         <span class="button-large"><span>
                            <input type="submit" value="Submit" name="submit" class="button1" id="signin_button" />
                        </span></span>
                        </div>
                    </div>
                   
                </div>
            }
        </div>
    </div>
</div>
