<div class="footerCntr">
    <div class="topfooter">
        <div class="topcenter">
            <div class="link">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/home/aboutus">ABOUT US</a></li>
                    <li><a href="/home/press">PRESS OFFICE</a></li>
                    @*<li><a href="#">GALLERIES</a></li>*@
                    <li><a href="/home/contactus">CONTACT US</a></li>
                    @*<li><a href="#">EVENTS &amp; NOTICES </a></li>*@
                    <li><a href="/home/faq">F.A.Q</a></li>
                    @*<li><a href="#">PROJECTS</a></li>
                    <li><a href="#">CONTRACTORS</a></li>*@
                </ul>
            </div>
            <div class="social">
                <ul>
                    <li><a href="#">
                        <img src="~/Content/images/facebook.png" alt="" /></a></li>
                    <li><a href="#">
                        <img src="~/Content/images/twitter.png" alt="" /></a></li>
                    <li><a href="#">
                        <img src="~/Content/images/linkdin.png" alt="" /></a></li>
                    <li><a href="#">
                        <img src="~/Content/images/youtube.png" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="copyrightcenter">
            <p>
                Copyright And reseverd by</p>
        </div>
    </div>
</div>
