@{
    ViewBag.Title = "ActivateAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="form-container">
    <div class="form-container-inner clear">
        <div class="heading">
        <h1 class="summary"> Acount Activated</h1>
        </div>
        <div class="pane" id="signin">
        
            <div class="wrap clear">
            <div class="input-group">
                        <label style="width: 100%; text-align: left; margin-bottom: 5px;">
                          Your Account has been activated sucessfully.</label>
                    </div>
                <span class="button-large"><span>
                        <a href="@Url.Action("SignIn","Home")">Sign In</a>
                    </span></span>
            
         
       
            
          
            </div>
        
        </div>
    </div>
    </div>
