<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--<add name="CentroEntities" connectionString="metadata=res://*/Models.DataModel.CentroEntities.csdl|res://*/Models.DataModel.CentroEntities.ssdl|res://*/Models.DataModel.CentroEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.9;initial catalog=Centro;persist security info=True;user id=xicomsql;password=Asd_123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CentroEntities" connectionString="metadata=res://*/Models.DataModel.CentroEntities.csdl|res://*/Models.DataModel.CentroEntities.ssdl|res://*/Models.DataModel.CentroEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.207;initial catalog=Centro_Development;persist security info=True;user id=xicom;password=Asd_1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>