<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeContracts.Unofficial" version="1.0.0.2" targetFramework="net40" />
  <package id="DotNetOpenAuth.AspNet" version="4.0.3.12153" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.0.3.12153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.0.3.12153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.0.3.12153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.0.3.12153" targetFramework="net40" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.0.3.12153" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="PayPalAdaptivePaymentsSDK" version="2.4.100" targetFramework="net40" />
  <package id="PayPalAdaptivePaymentsSDK" version="2.4.101" targetFramework="net40" />
  <package id="PayPalCoreSDK" version="1.3.0" targetFramework="net40" />
</packages>