@{
    ViewBag.Title = "Centro Administration Suite | Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

 <h1>Dashboard</h1>
    <div align="center" class="whitebox mtop15">
        <table cellspacing="0" cellpadding="5" border="0" align="center" style="margin-top:70px;">
          <tr>
            <td valign="top" align="left"><img src="@Url.Content("~/images/dashboard-graphic.png")" /></td>
            <td valign="top" align="left">
              <span class="size26">Welcome to Centro!</span><br /><br />
              <span class="size14">Please use the navigation links at the top to access different<br />
              sections of the administration panel.</span></td>
          </tr>
        </table>
    </div>
