@{
    ViewBag.Title = "Index";
    Layout = ViewBag.CentroUsers != null ? "~/Views/Shared/_BuyerLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}
@section title{
Error 404
}
<div class="errow_page">
    	
        <h2>Oops!</h2>
    	
        <h3>Please do not perform any suspicious activity!</h3>
		
        <p>We are sorry, but the page you were looking for can’t be found. Don’t worry We will help get you the right place. </p>
        
        <img src="@Url.Content("~/Content/images/error404.png")" alt="" />
        
    
    
    </div>