<div class="floatLeft wd45 job-pop-mn">
    <h2>
        Apply for the Job</h2>
    <span>In order to apply for any job, you need a shop.</span>
    <div>
        Please click <a href="@Url.Action("Shop","User")">here</a> to open a shop.
    </div>
        
</div>
    