<div class="floatLeft wd45 job-pop-mn">
    <h2>
        Shop Profile</h2>
    <span>In order to view your shop profile, you need a shop first.</span>
    <div>
        Please click <a href="@Url.Action("Shop","User")">here</a> to open a shop.
    </div>
        
</div>
    