@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_BuyerLayout.cshtml";
}

  <div class="white-area-inner">
        <h2 class="mb30"> 4 Item in Your Cart <a href="#" class="greyBtnMed greyBtnMed2">Keep Shopping</a> </h2>
        <div class="order-items">
          <h3><span class="actions"><a href="#" class="button-remove">X</a> </span> Order from <strong>Moments </strong> </h3>
          <div class="items-box">
            <div class="item">
              <div class="img"><img src="images/img.gif" width="156" height="125" alt=""></div>
              <div class="detail">
                <h4><a href="#">. Duis pellentesque tempor metus. Aenean non nibh. Etiam euismod magna non nulla. Sed nulla ante, consequat sit amet, sagittis id, euismod et, arcu. Aenean feugiat, lorem quis suscipit auctor, dui era</a></h4>
                <p class="quantity">Quantity: 1 </p>
                <p class="price">$5 USD + $0.00 USD <span>Shipping</span></p>
                <div class="action"> <a href="#">Remove</a> <a class="shopCompose" href="javascript:void(0);">Contact Shop Owner</a> </div>
              </div>
            </div>
            <div class="note">
              <label>Note to Moments <em>optional</em></label>
              <textarea placeholder="You can enter any info needed to complete your order or write a note to the shop" cols="30" rows="6"></textarea>
            </div>
          </div>
          <div class="total-box">
            <div class="order-summary">
              <div class="order-shipping ">
                <h4>Ship to</h4>
                <div class="select">
                  <select>
                    <option value="1" selected="selected">United States</option>
                    <option value="2">India</option>
                    <option value="3">Afghanistan</option>
                    <option value="4">Aland Islands</option>
                    <option value="5">Albania</option>
                    <option value="6">Algeria</option>
                  </select>
                </div>
              </div>
              <div class="order-payment">
                <h4>How You'll Pay</h4>
                <img src="images/paymentoptions.gif" alt=""> </div>
              <div class="order-cost-summary">
                <table class="summary-details">
                  <tbody>
                    <tr class="item-total">
                      <td>Item total</td>
                      <td class="monetary"><span class="currency-symbol">$</span><span class="currency-value">5
                        <!--94.00-->
                        </span> <span class="currency-code">USD</span></td>
                    </tr>
                    <tr class="shipping">
                      <td>Shipping</td>
                      <td class="monetary"><span class="currency-symbol">$</span><span class="currency-value">0</span> <span class="currency-code">USD</span></td>
                    </tr>
                    <tr class="order-total">
                      <td>Order total</td>
                      <td class="monetary "><span class="currency-symbol">$</span><span class="currency-value">5 </span> <span class="currency-code">USD</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="order-submit"> <a href="#" class="submit_button">Check out with PayPal</a> </div>
            </div>
          </div>
        </div>
        <div class="order-items">
          <h3><span class="actions"><a href="#" class="button-remove">X</a> </span> Order from <strong>Moments </strong> </h3>
          <div class="items-box">
            <div class="item">
              <div class="img"><img src="images/img.gif" width="156" height="125" alt=""></div>
              <div class="detail">
                <h4><a href="#">. Duis pellentesque tempor metus. Aenean non nibh. Etiam euismod magna non nulla. Sed nulla ante, consequat sit amet, sagittis id, euismod et, arcu. Aenean feugiat, lorem quis suscipit auctor, dui era</a></h4>
                <p class="quantity">Quantity: 1 </p>
                <p class="price">$5 USD + $0.00 USD <span>Shipping</span></p>
                <div class="action"> <a href="#">Remove</a> <a class="shopCompose" href="javascript:void(0);">Contact Shop Owner</a> </div>
              </div>
            </div>
            <div class="note">
              <label>Note to Moments <em>optional</em></label>
              <textarea placeholder="You can enter any info needed to complete your order or write a note to the shop" cols="30" rows="6"></textarea>
            </div>
          </div>
          <div class="total-box">
            <div class="order-summary">
              <div class="order-shipping ">
                <h4>Ship to</h4>
                <div class="select">
                  <select>
                    <option value="1" selected="selected">United States</option>
                    <option value="2">India</option>
                    <option value="3">Afghanistan</option>
                    <option value="4">Aland Islands</option>
                    <option value="5">Albania</option>
                    <option value="6">Algeria</option>
                  </select>
                </div>
              </div>
              <div class="order-payment">
                <h4>How You'll Pay</h4>
                <img src="images/paymentoptions.gif" alt=""> </div>
              <div class="order-cost-summary">
                <table class="summary-details">
                  <tbody>
                    <tr class="item-total">
                      <td>Item total</td>
                      <td class="monetary"><span class="currency-symbol">$</span><span class="currency-value">5
                        <!--94.00-->
                        </span> <span class="currency-code">USD</span></td>
                    </tr>
                    <tr class="shipping">
                      <td>Shipping</td>
                      <td class="monetary"><span class="currency-symbol">$</span><span class="currency-value">0</span> <span class="currency-code">USD</span></td>
                    </tr>
                    <tr class="order-total">
                      <td>Order total</td>
                      <td class="monetary "><span class="currency-symbol">$</span><span class="currency-value">5 </span> <span class="currency-code">USD</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="order-submit"> <a href="#" class="submit_button">Check out with PayPal</a> </div>
            </div>
          </div>
        </div>
        <div class="order-items">
          <h3><span class="actions"><a href="#" class="button-remove">X</a> </span> Order from <strong>Moments </strong> </h3>
          <div class="items-box">
            <div class="item">
              <div class="img"><img src="images/img.gif" width="156" height="125" alt=""></div>
              <div class="detail">
                <h4><a href="#">. Duis pellentesque tempor metus. Aenean non nibh. Etiam euismod magna non nulla. Sed nulla ante, consequat sit amet, sagittis id, euismod et, arcu. Aenean feugiat, lorem quis suscipit auctor, dui era</a></h4>
                <p class="quantity">Quantity: 1 </p>
                <p class="price">$5 USD + $0.00 USD <span>Shipping</span></p>
                <div class="action"> <a href="#">Remove</a> <a class="shopCompose" href="javascript:void(0);">Contact Shop Owner</a> </div>
              </div>
            </div>
            <div class="note">
              <label>Note to Moments <em>optional</em></label>
              <textarea placeholder="You can enter any info needed to complete your order or write a note to the shop" cols="30" rows="6"></textarea>
            </div>
          </div>
          <div class="total-box">
            <div class="order-summary">
              <div class="order-shipping ">
                <h4>Ship to</h4>
                <div class="select">
                  <select>
                    <option value="1" selected="selected">United States</option>
                    <option value="2">India</option>
                    <option value="3">Afghanistan</option>
                    <option value="4">Aland Islands</option>
                    <option value="5">Albania</option>
                    <option value="6">Algeria</option>
                  </select>
                </div>
              </div>
              <div class="order-payment">
                <h4>How You'll Pay</h4>
                <img src="images/paymentoptions.gif" alt=""> </div>
              <div class="order-cost-summary">
                <table class="summary-details">
                  <tbody>
                    <tr class="item-total">
                      <td>Item total</td>
                      <td class="monetary"><span class="currency-symbol">$</span><span class="currency-value">5
                        <!--94.00-->
                        </span> <span class="currency-code">USD</span></td>
                    </tr>
                    <tr class="shipping">
                      <td>Shipping</td>
                      <td class="monetary"><span class="currency-symbol">$</span><span class="currency-value">0</span> <span class="currency-code">USD</span></td>
                    </tr>
                    <tr class="order-total">
                      <td>Order total</td>
                      <td class="monetary "><span class="currency-symbol">$</span><span class="currency-value">5 </span> <span class="currency-code">USD</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="order-submit"> <a href="#" class="submit_button">Check out with PayPal</a> </div>
            </div>
          </div>
        </div>
        <div class="order-items">
          <h3><span class="actions"><a href="#" class="button-remove">X</a> </span> Order from <strong>Moments </strong> </h3>
          <div class="items-box">
            <div class="item">
              <div class="img"><img src="images/img.gif" width="156" height="125" alt=""></div>
              <div class="detail">
                <h4><a href="#">. Duis pellentesque tempor metus. Aenean non nibh. Etiam euismod magna non nulla. Sed nulla ante, consequat sit amet, sagittis id, euismod et, arcu. Aenean feugiat, lorem quis suscipit auctor, dui era</a></h4>
                <p class="quantity">Quantity: 1 </p>
                <p class="price">$5 USD + $0.00 USD <span>Shipping</span></p>
                <div class="action"> <a href="#">Remove</a> <a class="shopCompose" href="javascript:void(0);">Contact Shop Owner</a> </div>
              </div>
            </div>
            <div class="note">
              <label>Note to Moments <em>optional</em></label>
              <textarea placeholder="You can enter any info needed to complete your order or write a note to the shop" cols="30" rows="6"></textarea>
            </div>
          </div>
          <div class="total-box">
            <div class="order-summary">
              <div class="order-shipping ">
                <h4>Ship to</h4>
                <div class="select">
                  <select>
                    <option value="1" selected="selected">United States</option>
                    <option value="2">India</option>
                    <option value="3">Afghanistan</option>
                    <option value="4">Aland Islands</option>
                    <option value="5">Albania</option>
                    <option value="6">Algeria</option>
                  </select>
                </div>
              </div>
              <div class="order-payment">
                <h4>How You'll Pay</h4>
                <img src="images/paymentoptions.gif" alt=""> </div>
              <div class="order-cost-summary">
                <table class="summary-details">
                  <tbody>
                    <tr class="item-total">
                      <td>Item total</td>
                      <td class="monetary"><span class="currency-symbol">$</span><span class="currency-value">5
                        <!--94.00-->
                        </span> <span class="currency-code">USD</span></td>
                    </tr>
                    <tr class="shipping">
                      <td>Shipping</td>
                      <td class="monetary"><span class="currency-symbol">$</span><span class="currency-value">0</span> <span class="currency-code">USD</span></td>
                    </tr>
                    <tr class="order-total">
                      <td>Order total</td>
                      <td class="monetary "><span class="currency-symbol">$</span><span class="currency-value">5 </span> <span class="currency-code">USD</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="order-submit"> <a href="#" class="submit_button">Check out with PayPal</a> </div>
            </div>
          </div>
        </div>
      </div>
