<div class="input-group-wb location-city hub-create-list">
    <div class="mb20 autosuggest-wrapper1 row">
        <div class="floatRight width50">
            <blockquote class="pdl12p gray-border-left ml20 ">
                <div class="file-div-0">
                    <label class="add-photo-btn">
                        <strong>upload</strong><span>
                            <input type="file" id="picture" name="file" onchange="UploadPicture(this, 'picture-form',0);" /></span></label>

                            
                </div>
                <div id="picture-div-0"></div>
            </blockquote>
            <div class="submit ml10 mt0">
                <input type="button" class="button-plus" value="Add" onclick="AddRow(this);" />
            </div>
        </div>
        <textarea class="width45 template1" name="Count_0" data-val-required="*Required." data-val="true"></textarea>
        <span data-valmsg-replace="true" data-valmsg-for="Count_0" class="field-validation-valid ml15"></span>
    </div>
</div>
<script type="text/javascript">
    //$("textarea.template1").jqte();
//    count = 1;
//    $('#Rows').val('0');
//    $('#Except').val('');
//    rows.length = 0;
//    except.length = 0;
//    rows.push(0);
</script>
<style type="text/css">
    .jqte {
        width: 395px !important;
    }

    .jqte_editor, .jqte_source {
        min-height: 150px !important;
    }
</style>
