<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <!--<add name="CentroEntities" connectionString="metadata=res://*/Models.DataModel.CentroEntities.csdl|res://*/Models.DataModel.CentroEntities.ssdl|res://*/Models.DataModel.CentroEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.9;initial catalog=Centro;persist security info=True;user id=xicomsql;password=Asd_123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CentroEntities" connectionString="metadata=res://*/Models.DataModel.CentroEntities.csdl|res://*/Models.DataModel.CentroEntities.ssdl|res://*/Models.DataModel.CentroEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.207,1435;initial catalog=Centro_Development;persist security info=True;user id=xicom;password=Asd_1234;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SiteURL" value="http://Centro.xicom.info/" />
    <add key="AdminEmail" value="biggshhot@gmail.com" />
    <add key="SSL" value="false" />
    <add key="AuthorizeTransactionKey" value="9FR83L7x7v7qZ9e7" />
    <add key="UseSandBox" value="true" />
    <add key="AdminPaypalBusinessAccount" value="vikas.sharma-facilitator@xicom.biz" />
    <add key="PAYPAL_REDIRECT_URL" value="https://www.sandbox.paypal.com/webscr&amp;cmd=" />
    <add key="PaypalReturnURL" value="http://localhost:49161/Payment/PaypalReturn" />
    <add key="PaypalCancelURL" value="http://localhost:49161/Cart/MyCart" />
    <add key="AdminCommission" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="biggshhot@gmail.com">
        <network host="smtp.gmail.com" userName="biggshhot@gmail.com" password="xicom@123" port="587" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>